.App {
  text-align: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;

}


.App-header {
  background-color: #b3ccff;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
  margin-bottom: 50px;
  font-family: 'VT323', monospace;
}

.card{
  width: 35%;
  text-align: center;
  margin: 5px;
  font-family: 'VT323', monospace;
  font-size: 20px;
  background-color: black;
  color: yellow;
  border: 3px dashed yellow;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}

.card :hover{
  color: white;
}

.card-title{
  font-size: 18px;
}

body {
  background-image: url(../public/space2.gif);
  align-items: center;
  text-align: center;
  background-size: 150%;
}

p {
  margin:0;
}

#shipDet{
  margin: auto;
}

#return {
  color: black;
  background-color: yellow;
  border: 1px solid yellow;
  width: 30%;
  margin: 5px;
  font-size: 25px;
  padding: 0;
}

#header {
  border-bottom: 3px dashed yellow;
  margin-bottom: 15px;

}

#name{
  font-size: 30px;
}

#spin {
  margin-top: 10%;
  width: 80px;
  height: 80px;
}